.app-container {
  /* setting up the background color and holder */
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #83a4d4, #b6fbff);

  /* placing the container in the center of the screen */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* styling calculator container */
.calculator-container {
  width: 35rem;
  max-height: 55rem;
  background-color: #191b28;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 0.5rem;
}

.text {
  color: #fff;
  font-size: 2rem;
  font-weight: bolder;
}
