.app-container {
  margin: 5rem;
  max-width: 500px;
  max-height: 800px;
  background-color: #191b28;
}

/* this is grid */
.calculator-grid {
  display: grid;

  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 110px;
}

/* magic happens here */
.calc-btn-tall {
  grid-row: span 2 / auto;
}
.calc-btn-wide {
  grid-column: span 2 / auto;
}

/* responsivnes  */
@media screen and (max-width: 600px) {
  .calculator-grid {
    grid-auto-rows: auto;
  }
}

.calc-btn {
  font-size: 175%;
  color: white;
  padding: 20px;
  margin: 1rem;
  border: none;
  /* position to center */
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 20px;
}

.operator-btn {
  background-color: #4eccdb;
  color: #fff;
}
.operator-btn:hover {
  background-color: #4ebadb;
}

.symbol-btn {
  background-color: #1e2337;
}
.symbol-btn:hover {
  background-color: #1e2e37;
}

.calc-btn:hover {
  cursor: pointer;
}

/* some additional styles  */
.calculator-header {
  grid-column: 1/-1;
  display: flex;

  flex-direction: column;
  align-items: flex-end;

  color: #fff;
  padding: 10px;
  min-height: 110px;
}

.calculator-header .main-calculator-state {
  font-size: 30px;
}
.calculator-header .current-operator {
  font-size: 30px;
}
.calculator-header .other-calculator-state {
  font-size: 40px;
}

.simple-hr {
  margin: 2rem;
}
